<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Jesús Antona Espejo
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Ingeniería Web UMA
  </p>
</footer>
