---
import { Image } from "astro:assets";
import Link from "./ui/link.astro";
import { getUser } from "../lib/auth.ts";

let user = getUser();
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
      {user && "Bienvenido/a de vuelta a Eventual, " + user.nickname}
      {!user && "Bienvenido/a a Eventual"}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Examen de Ingeniería Web - Jesús Antona Espejo
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link href="/eventual" rel="noopener">Eventual</Link>
    </div>
  </div>
</main>
